#grad {
    background-color: var(--pink);
}

.header-homepage {
    text-align: center;
    font-size: 80px;
    color : var(--dark-blue);
    font-weight: bold;
    font-family: 'StretchPro';
}

.text-style {
    text-align: center;
    font-size: 18px;
    color : var(--dark-blue);
    font-family: 'StretchPro';
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.rounded-button {
    padding: 10px 20px; 
    background-color: var(--dark-purple); /*not hovered color*/
    color: white;
    border: 3px solid black;
    border-radius: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-top: 40px;
    width: 250px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color : var(--pink);
}

.rounded-button:hover {
    background-color: var(--dark-blue); /* hovered color */
    color: white;
}