.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  padding: 12px 35px;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
}

.search-bar {
  display: flex;
}

.search-input {
  color: var(--dark-blue);
  font-weight: bold;
  background: var(--light-purple);
  padding: 8px 15px;
  border-radius: 20px;
  border: 3px solid var(--dark-purple);
  width: 300px;
  max-width: 400px;
  outline: none
}

.submit-button {
  background: none;
  border: none;
  margin-left: 10px;
}

.genre-button {
  background: none;
  border: none;
}

.hidden {
  display: none;
}

.genre-dropdown {
  position: absolute;
  z-index: 10;
}
