.notification {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    border-radius: 10px;
    color:white;
    display: none;
}

.notification-success {
    display: block;
    background-color: green;
}

.notification-error {
    display: block;
    background-color: red;
}