.information {
    display: flex;
    gap: 25px;

    margin-left: 30px;
    
    @media (max-width: 640px) {
        flex-direction: column;
    }
}

.playlist-image-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.playlist-info-container h1 {
    text-overflow: ellipsis;
}

.playlist-info-container h3 {
    font-weight: 600;
    font-style: italic;
}

.playlist-update-delete {
    margin-top: 20px;

    display: flex;
    gap: 15px;
}

.playlist-update-delete button {
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 8px 18px;
}

.playlist-update-delete button:hover {
    filter: brightness(0.75);
}

.playlist-table-container {
    margin: 30px;

    background-color: var(--dark-purple);
    color: white;

    border-radius: 20px;
    border: 3px solid black;
    /*height: 50vh;*/
    overflow-y: scroll;
    padding: 20px;

    width: 800px;

    overflow-x: scroll;

    transition: width 0.3s ease;

    @media (max-width: 1280px) {
        width: 700px;
    }

    @media (max-width: 1024px) {
        width: 600px;
    }

    @media (max-width: 920px) {
        width: 450px;
    }

    @media (max-width: 640px) {
        width: 225px;
    }
}

.playlist-table-container table{
    /*display: none;*/
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    border-spacing: 0;
}

.playlist-table-container .center{
    text-align: center;
}

.playlist-table-container a{
    color: white;
}

.playlist-table-container tbody tr {
    margin-top: 5px;
    background-color: red;
}

.playlist-table-container thead tr td{
    font-weight: bold;
    text-align: center;
}

.playlist-table-container button {
    background-color: darkred;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: 8px 18px;
}


.clickable-row:hover {
    cursor: pointer;
    background-color: var(--recom-pink);
}

