.information {

}

.playlist-image-container {

}

.playlist-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.playlist-table-container table {
    border: none;
    border-spacing: 0;
}

.clickable-row:hover {
    cursor: pointer;
    background-color: var(--recom-pink);
}

