body {
    background-color: var(--pink);
    padding: 25px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.btn-logout {
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: var(--dark-blue);
    color:white;
    border: 2px solid black;
}

.btn-logout:hover {
    filter: brightness(0.75);
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-title {
    font-family: 'StretchPro';
    text-align: center;
    font-size: 55px;
    color : var(--dark-blue);
    font-weight: bold;
    margin-bottom: 20px;
    
    @media (max-width: 640px) {
        margin-top: 30px;
    }
}

.profile-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--dark-blue);
    margin-bottom: 1px;
}

.profile-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media (max-width: 640px) {
        width: 300px;
    }
}

.profile-form-component {
    width: 100%;
}

.profile-form label {
    display: block;
    color : var(--dark-blue);
    font-weight: bold;
    font-size: 20px;
}

.profile-input {
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--pink);
    border: 3px solid var(--dark-blue);
}

.profile-submit {
    font-size:  20px;
    background-color: var(--dark-blue);
    border: 2px solid;
    border-radius: 15px;
    padding: 12px 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-submit:hover {
    filter: brightness(0.75);
}

::file-selector-button {
    background-color: var(--dark-blue);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

::file-selector-button:hover {
    filter: brightness(0.75);
}




