#grad {
    background-color: var(--pink);
}

.btn-home {
    font-family: 'StretchPro';
    font-size: 14px;
    color: var(--dark-blue);
    width: 180px;
    height: 35px;
    border-radius: 2vh;
    margin-top: 30px;
    margin-left: 30px;
    background-color: var(--pink);
    border: 2px solid black;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-home:hover {
    background-color: var(--dark-blue); /* hovered color */
    color: white;
}

.label-text {
    color : var(--dark-blue);
    font-family: 'StretchPro';
    font-size: 14px;
}

.plain-text {
    color : white;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}

.sbmt-style {
    font-family: 'StretchPro';
    font-size: 14px;
    color: var(--dark-blue);
    width: 300px;
    height: 35px;
    border-radius: 2vh;
    margin-top: 5px;
    margin-right: 10px;
    padding: 3px 0px 3px 7px;
    background-color: var(--pink);
    border: 2px solid black;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.sbmt-style:hover {
    background-color: var(--dark-blue); /* hovered color */
    color: white;
}

.center-submit {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-logout {
    font-family: 'StretchPro';
    font-size: 14px;
    color: var(--dark-blue);
    width: 300px;
    height: 35px;
    border-radius: 2vh;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 138px;
    padding: 3px 5px 3px 7px;
    background-color: var(--pink);
    border: 2px solid black;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.btn-logout:hover {
    background-color: var(--dark-blue); /* hovered color */
    color: white;
}

.link {
    cursor: pointer; 
    transition: background-color 0.3s ease;
    color: var(--pink);
}

.link:hover {
    color: var(--dark-blue);
}

.title {
    font-family: 'StretchPro';
    text-align: center;
    font-size: 55px;
    color : var(--dark-blue);
    font-weight: bold;
    margin-bottom: 20px;   
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.style-input {
    width: 100%;
    height: 25px;
    border-radius: 1.5vh;
    margin-top: 10px;
    padding: 3px 0px 3px 7px;
    background-color: var(--pink);
    border: 3px solid var(--dark-blue);
}

.img-profile {
    display: block;
}

.tag-image {
    color : var(--dark-blue);
    font-family: 'StretchPro';
    font-size: 14px;
    margin-bottom: 6px; 
}
.img {
    max-width: 90px;
    border-radius: 10px;
    border: 3px solid var(--dark-blue);
    margin-bottom: 1px;
}

.choose {
    width: 100%;
    height: 25px;
    border-radius: 1.5vh;
    padding: 3px 0px 3px 7px;
    background-color: var(--pink);
    border: 3px solid var(--dark-blue);
    margin-bottom: 10px;
}