.sidebar {
    background-color: var(--dark-pink);
    width: 200px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.upper-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-purple);
}

.active {
    background-color: red;
}

.sidebar-playlist {

}

.sidebar-list {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--dark-purple);
}

img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.sidebar-creator {
    width: 80%;
    background:none;
    padding: 10px 20px;
    border-radius: 20px;
}

.sidebar-creator:hover {
    background-color: red;
}
