:root {
  /* Breakpoints */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  --dark-purple : #564A78; /*main color*/
  --light-purple: #977082; /*profile color and searchbar*/
  --dark-pink : #AA7C75; /*sidebar color*/
  --recom-pink : #B9838C; /*recom number color*/
  --pink : #D49B92; /*background color*/
  --dark-blue : #2E316A; /*title color*/
}

@font-face {
  font-family: 'StretchPro';
  src: url('/fonts/stretchpro.woff');

  font-weight: normal;
  font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-pink);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c635d;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding:0;
  list-style-type: none;
}

li {
  text-align: center;
}

button {
  cursor: pointer;
}

/* Notification */
.notification {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 9999;
  padding: 10px;
  border-radius: 10px;
  color:white;
  display: none;
}

.notification-success {
  display: block;
  background-color: green;
}

.notification-error {
  display: block;
  background-color: red;
}

/* Confirmation Modal */
.confirmation-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: var(--light-purple);
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 450px;
}

.modal-content h2 {
  margin-top: 20px;
  text-align: center;
  color: var(--dark-blue);
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.button-container button {
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.close-button {
  color: white;
  float: right;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  filter: brightness(0.75);
}

/* Playlist Modal */
.playlist-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 300px;
  transform: translate(-50%, -50%);
}

.playlist-modal-content {
  background-color: var(--light-purple);
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 450px;
}

.playlist-modal-content img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.playlist-modal-content h1 {
  margin-top: 20px;
  text-align: center;
  color: var(--dark-blue);
  font-weight: bold;
}

.playlist-form {
  display: flex;
  flex-direction: column;
}

.playlist-form label {
  margin-top: 20px;

  display: block;
  color : var(--dark-blue);
  font-weight: bold;
  font-size: 20px;
}

.playlist-form input {
  margin-top: 5px;

  border-radius: 10px;
  padding: 10px;
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
}

.playlist-form input[type="submit"] {
  margin-top: 25px;
  background-color: var(--dark-blue);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlist-form input[type="submit"]:hover {
  background-color: var(--dark-purple);
}

/* Update Modal */
.update-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.update-modal-content {
  background-color: var(--light-purple);
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
  width: 450px;
  height: 60vh;
  overflow-y: scroll;
}

.update-modal-content select{
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
  border-radius: 1.5vh;
  height: 5vh;
  width: 40%;
}

.update-modal-content h1 {
  font-family: "StretchPro";
  margin-top: 2vh;
  text-align: center;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 3vh;
}

.update-form label {
  margin-top: 10px;

  display: block;
  color : var(--dark-blue);
  font-weight: bold;
  font-size: 20px;
}

.update-form input {
  width: 90%;

  border-radius: 10px;
  padding: 10px;
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
}

.update-form textarea {
  width: 90%;

  border-radius: 10px;
  padding: 10px;
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
}

.update-form button {
  margin-top: 25px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  width: 90%;
  height: 3vh;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add Modal */
.add-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.add-modal-content {
  background-color: var(--light-purple);
  padding: 4vh;
  border: 1px solid black;
  border-radius: 20px;
  width: 40vw;
  height: 75vh;
  overflow-y: scroll;
}

.add-modal-content select{
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
  border-radius: 1.5vh;
  height: 5vh;
  width: 40%;
}

.add-modal-content h1 {
  font-family: "StretchPro";
  margin-top: 2vh;
  text-align: center;
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 3vh;
}

.add-form label {
  margin-top: 10px;

  display: block;
  color : var(--dark-blue);
  font-weight: bold;
  font-size: 20px;
}

.add-form input {
  width: 90%;

  border-radius: 2vh;
  padding: 10px;
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
}

.add-form textarea {
  width: 90%;

  border-radius: 2vh;
  padding: 10px;
  background-color: var(--pink);
  border: 3px solid var(--dark-blue);
}

.add-form button {
  margin-top: 25px;
  background-color: var(--dark-blue);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.margin-submit {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  font-family: "StretchPro";
}